<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>tuspro9</title>
		<link rel="stylesheet" href="{% static 'css/index.css' %}" />
		<script src="https://cdn.tailwindcss.com"></script>
		<script>
			const getTimeVisitingAllAttractionsUrl = "{% url 'get_time_visiting_all_attractions' %}"
		</script>
	</head>
	<body class="m-auto">
        <div class="header relative">
			<img src="{% static "image/disney_top.jpg" %}">
			<p class="absolute inset-16 text-white text-5xl">東京ディズニーランド</p>
		</div>
		<div class="content">
			<table id="7-days-expecting-0" class="border-black border-solid border-2 my-32">
				<tr class="date border-black border-solid border-2">
					<th id="date-label" class="border-black border-solid border-2">
						<p class="p-1">日付</p>
					</th>
					<th id="date-0-0" class="border-black border-solid border-2">
						<p class="p-1">----------------</p>
					</th>
					<th id="date-1-0" class="border-black border-solid border-2">
						<p class="p-1">-----------------</p>
					</th>
					<th id="date-2-0" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
					<th id="date-3-0" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
					<th id="date-4-0" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
					<th id="date-5-0" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
					<th id="date-6-0" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
				</tr>
				<tr class="is-visit-all border-black border-solid border-2">
					<td
						id="is-visit-all-label"
						class="border-black border-solid border-2"
					>
						<p class="p-1">全てわまれるか</p>
					</td>
					<td id="is-visit-all-0-0" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-1-0" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-2-0" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-3-0" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-4-0" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-5-0" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-6-0" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
				</tr>
				<tr class="time-visit-all border-black border-solid border-2">
					<td id="time-visit-label" class="border-black border-solid border-2">
						<p class="p-1">かかる時間</p>
					</td>
					<td id="time-visit-all-0-0" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-1-0" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-2-0" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-3-0" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-4-0" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-5-0" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-6-0" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
				</tr>
				<tr class="time-visit-all border-black border-solid border-2">
					<td class="border-black border-solid border-2">
						<p>ルート表示ボタン</p>
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(0, 0)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(1, 0)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(2, 0)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(3, 0)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(4, 0)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(5, 0)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(6, 0)">
					</td>
				</tr>
			</table>

			<table id="7-days-expecting-1" class="border-black border-solid border-2 my-32">
				<tr class="date border-black border-solid border-2">
					<th id="date-label" class="border-black border-solid border-2">
						<p class="p-1">日付</p>
					</th>
					<th id="date-0-1" class="border-black border-solid border-2">
						<p class="p-1">----------------</p>
					</th>
					<th id="date-1-1" class="border-black border-solid border-2">
						<p class="p-1">-----------------</p>
					</th>
					<th id="date-2-1" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
					<th id="date-3-1" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
					<th id="date-4-1" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
					<th id="date-5-1" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
					<th id="date-6-1" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
				</tr>

				<tr class="is-visit-all border-black border-solid border-2">
					<td
						id="is-visit-all-label"
						class="border-black border-solid border-2"
					>
						<p class="p-1">全てわまれるか</p>
					</td>
					<td id="is-visit-all-0-1" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-1-1" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-2-1" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-3-1" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-4-1" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-5-1" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-6-1" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
				</tr>
				<tr class="time-visit-all border-black border-solid border-2">
					<td id="time-visit-label" class="border-black border-solid border-2">
						<p class="p-1">かかる時間</p>
					</td>
					<td id="time-visit-all-0-1" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-1-1" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-2-1" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-3-1" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-4-1" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-5-1" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-6-1" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
				</tr>
				<tr class="time-visit-all border-black border-solid border-2">
					<td class="border-black border-solid border-2">
						<p>ルート表示ボタン</p>
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(0, 1)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(1, 1)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(2, 1)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(3, 1)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(4, 1)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(5, 1)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(6, 1)">
					</td>
				</tr>
			</table>

			<table id="7-days-expecting-2" class="border-black border-solid border-2 my-32">
				<tr class="date border-black border-solid border-2">
					<th id="date-label" class="border-black border-solid border-2">
						<p class="p-1">日付</p>
					</th>
					<th id="date-0-2" class="border-black border-solid border-2">
						<p class="p-1">----------------</p>
					</th>
					<th id="date-1-2" class="border-black border-solid border-2">
						<p class="p-1">-----------------</p>
					</th>
					<th id="date-2-2" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
					<th id="date-3-2" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
					<th id="date-4-2" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
					<th id="date-5-2" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
					<th id="date-6-2" class="border-black border-solid border-2">
						<p class="p-1">---------------</p>
					</th>
				</tr>
				<tr class="is-visit-all border-black border-solid border-2">
					<td
						id="is-visit-all-label"
						class="border-black border-solid border-2"
					>
						<p class="p-1">全てわまれるか</p>
					</td>
					<td id="is-visit-all-0-2" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-1-2" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-2-2" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-3-2" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-4-2" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-5-2" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="is-visit-all-6-2" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
				</tr>
				<tr class="time-visit-all border-black border-solid border-2">
					<td id="time-visit-label" class="border-black border-solid border-2">
						<p class="p-1">かかる時間</p>
					</td>
					<td id="time-visit-all-0-2" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-1-2" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-2-2" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-3-2" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-4-2" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-5-2" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
					<td id="time-visit-all-6-2" class="border-black border-solid border-2">
						<p class="p-1"></p>
					</td>
				</tr>
				<tr class="time-visit-all border-black border-solid border-2">
					<td class="border-black border-solid border-2">
						<p>ルート表示ボタン</p>
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(0, 2)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(1, 2)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(2, 2)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(3, 2)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(4, 2)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(5, 2)">
					</td>
					<td class="border-black border-solid border-2">
						<input type="button" value="ルートを表示する" onclick="onclickDate(6, 2)">
					</td>
				</tr>
			</table>
			<div class="route m-auto text-center">
			<p id="route-date-0-0" class="hidden my-2"></p>
			<table id="route-0-0" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10"><p>順番</p></th>
					<th id="attraction-name" class="text-left"><p>アトラクション名</p></th>
				</tr>
			</table>
			<p id="route-date-1-0" class="hidden"></p>
			<table id="route-1-0" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-2-0" class="hidden"></p>
			<table id="route-2-0" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-3-0" class="hidden"></p>
			<table id="route-3-0" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-4-0" class="hidden"></p>
			<table id="route-4-0" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-5-0" class="hidden"></p>
			<table id="route-5-0" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-6-0" class="hidden"></p>
			<table id="route-6-0" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			
			
			<p id="route-date-0-1" class="hidden"></p>
			<table id="route-0-1" class="hidden mx-auto">
				<tr class="">
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-1-1" class="hidden"></p>
			<table id="route-1-1" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-2-1" class="hidden"></p>
			<table id="route-2-1" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-3-1" class="hidden"></p>
			<table id="route-3-1" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-4-1" class="hidden"></p>
			<table id="route-4-1" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-5-1" class="hidden"></p>
			<table id="route-5-1" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-6-1" class="hidden"></p>
			<table id="route-6-1" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			
			
			<p id="route-date-0-2" class="hidden"></p>
			<table id="route-0-2" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-1-2" class="hidden"></p>
			<table id="route-1-2" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-2-2" class="hidden"></p>
			<table id="route-2-2" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-3-2" class="hidden"></p>
			<table id="route-3-2" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-4-2" class="hidden"></p>
			<table id="route-4-2" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-5-2" class="hidden"></p>
			<table id="route-5-2" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			<p id="route-date-6-2" class="hidden"></p>
			<table id="route-6-2" class="hidden mx-auto">
				<tr>
					<th id="attraction-num" class="px-10">順番</th>
					<th id="attraction-name" class="text-left">アトラクション名</th>
				</tr>
			</table>
			</div>
		</div>
	</body>
	<script src="{% static "js/judgeIsSunday.js" %}" type="text/javascript"></script>
	<script src="{% static "js/exchangeAttractionNameToNum.js" %}" type="text/javascript"></script>
	<script src="{% static "js/getTimeVisitingAllAttractions.js" %}" type="text/javascript"></script>
	<script src="{% static "js/onClickDate.js" %}" type="text/javascript"></script>
	<script src="{% static "js/onloadEvent.js" %}" type="text/javascript"></script>
</html>
