<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Title</title>
		<link rel="stylesheet" href="{% static 'css/index.css' %}" />
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
        <h1>disney</h1>
		<div class="test">
			<table class="border-black border-solid border-2">
				<tr class="date border-black border-solid border-2">
					<th id="date-label" class="border-black border-solid border-2">
						<p class="p-1">日付</p>
					</th>
					<th id="date-1" class="border-black border-solid border-2">
						<p class="p-1">11/24</p>
					</th>
					<th id="date-2" class="border-black border-solid border-2">
						<p class="p-1">11/25</p>
					</th>
					<th id="date-3" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</th>
					<th id="date-4" class="border-black border-solid border-2">
						<p class="p-1">11/27</p>
					</th>
					<th id="date-5" class="border-black border-solid border-2">
						<p class="p-1">11/28</p>
					</th>
					<th id="date-6" class="border-black border-solid border-2">
						<p class="p-1">11/29</p>
					</th>
					<th id="date-7" class="border-black border-solid border-2">
						<p class="p-1">11/30</p>
					</th>
				</tr>
				<tr class="is-visit-all border-black border-solid border-2">
					<td
						id="is-visit-all-label"
						class="border-black border-solid border-2"
					>
						<p class="p-1">全てわまれるか</p>
					</td>
					<td id="is-visit-all-1" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</td>
					<td id="is-visit-all-2" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</td>
					<td id="is-visit-all-3" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</td>
					<td id="is-visit-all-4" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</td>
					<td id="is-visit-all-5" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</td>
					<td id="is-visit-all-6" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</td>
					<td id="is-visit-all-7" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</td>
				</tr>
				<tr class="time-visit-all border-black border-solid border-2">
					<td id="time-visit-label" class="border-black border-solid border-2">
						<p class="p-1">かかる時間</p>
					</td>
					<td id="time-visit-label" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</td>
					<td id="time-visit-label" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</td>
					<td id="time-visit-label" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</td>
					<td id="time-visit-label" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</td>
					<td id="time-visit-label" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</td>
					<td id="time-visit-label" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</td>
					<td id="time-visit-label" class="border-black border-solid border-2">
						<p class="p-1">11/26</p>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
